
<script src="https://surveyjs.azureedge.net/1.1.24/survey.angular.min.js"></script>
<link   rel="stylesheet"   href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
<link   rel="stylesheet"   href="https://surveyjs.azureedge.net/1.1.23/survey.css" /> 

<ion-header>
  <ion-toolbar>
    <ion-title>
      Survey for Successful Mid-career Transition in the IT industry </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="surveyElement"></div>
</ion-content>
